* {
    box-sizing: border-box;
}

body {
    --blue: #0000ff;
    font-family: Roboto;
}

section {
    min-height: 100vh;
    scroll-margin-top: 36px;  /* Use the height of the nav */

}

section:nth-child(1) { background: red;}
section:nth-child(2) { background: var(--blue);}
section:nth-child(3) { background: yellow;}
section:nth-child(4) { background: green;}
section:nth-child(5) { background: purple;}
section:nth-child(6) { background: greenyellow;}
section:nth-child(7) { background: darkcyan;}

nav {
    position: sticky;
    top: 0;
    background: #fff;
    padding: 10px 20px;
}